@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}
/* Shared Style */
.mw-80{
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
}
.btn{
    color: white;
    border: none;
    background-color: #E6533C;
    padding: 10px 30px;
    border-radius: 46px;
    font-size: 1.1rem;
    font-weight: 700;
}
#dn-btn{
    background: transparent;
    border: 1px solid #FFFFFF;
}

/* nav styles */

.nav-container{
    margin-top: 20px;
    color:white;
    display: flex;
    align-items: center;
}
.nav-container p{
    font-size: 2.1rem;
    font-weight: 700;
    color: #E6533C;
}
.nav-container ul{
    margin: 10px;
    align-items: center;
    border-radius: 50px;
    padding: 3px;
    padding-right: 30px;
    border: 1px solid rgba(255, 255, 255, 0.185);
    /* box-shadow: 0 0 1px 0.1px #fffefe; */
}
.nav-container i{
    display: none;
}
/* hero section desing */
.hero-container{
    color:white;
    height: 580px;
}
.hero-info{
    max-width: 50%;
}
.hero-info h2{
    font-size: 4.5rem;
    font-weight: 900;
}
.hero-info p{
    margin-top: 30px;
    font-size: 1rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5);
}
.hero-btn{
    margin-top: 30px;
}
.hero-img{
    width: 100%;
    max-width: 50%;
    justify-content: end;
    position: relative;
}
.hero-img img{
    height: 100%;
}
.tooltip1{
    right: -14%;
    padding: 16px 24px;
    position: absolute;
    background-color: rgba(51, 48, 48, 0.863);
    border-radius: 12px;
    top:20%;
    backdrop-filter: blur(2px);
}
.tooltip1 h2{
    font-size:2.7rem;
    font-weight:900;
}
.tooltip2{
    align-items: center;
    left: 16%;
    padding: 16px 24px;
    position: absolute;
    background-color: rgba(49, 47, 47, 0.836);
    border-radius: 12px;
    top:70%;
    backdrop-filter: blur(2px);
}
.tooltip2 h2{
    font-size:1.7rem;
    font-weight:900;
}
.ball{
    height: 50px;
    width: 50px;
    background-color: #E6533C;
    border-radius: 50px;
}
.ball i{
    padding: 18px;
}
/* your-habits section desing */
.your-habits h2{
    margin-top: 80px;
    margin-bottom: 14px;
    font-size: 3rem;
    font-weight: 900;
}
.your-habits p{
    max-width: 671px;
    margin: 0 auto;
    font-size: 0.9rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5);
}

/* habite card desing */

.habits-card{
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.card-info{
    width: 231px;
    height: 273px;
    text-align: center;
}
.card-info img{
    margin: 0 auto;
    border-radius: 50%;
    border: 4px solid rgb(36, 33, 33);
    margin-bottom: 30px;
}
.card-info h2{
    font-size: 1.12rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 6px;
}
.exta-mile{
    background-color: #222222;
    margin-top: 100px;
    border-radius: 18px;
    justify-content: space-between;
}
.exra-content{
    margin-left: 54px;
    width: 443px;
}
.exra-content h2{
    margin-top: 15px;
    font-size: 3.5rem;
    font-weight: 900;
}
.exra-content button{
    margin: 25px 0;
}
.mile-img{
    margin: 30px 32px;
    width: 366px;
    height: 312px;
    overflow: hidden;
    border-radius: 18px;
}
.mile-img>img {
    height: 621px;
    object-fit: cover;
    object-position: -420px -40px;
}
/* grid section */
.training-section{
    margin-top: 60px;
}
.section-header{
    width: 680px;
}
.section-header h2{
    font-size: 3rem;
    font-weight: 700;
}
.section-header p{
    margin-top: 14px;
    margin-bottom: 50px;
    color: rgba(255, 255, 255, 0.5);
}
.training-card {
    position: relative;
    height: 190px;
    overflow: hidden;
    cursor: pointer;
    background: #222;
}
.training-card img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: transform 0.4s ease;
}
.card-3 , .card-6{
    display:grid;
}
/* =========================
   Dark Overlay
========================= */

.training-card::after {
    content: "";

    position: absolute;

    inset: 0;

    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.05)
    );

    z-index: 1;
}


/* =========================
   Text Overlay
========================= */

.overlay {
    position: absolute;
    left: 20px;
    bottom: 18px;
    z-index: 2;
    color: white;
}

.overlay h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}

.overlay p {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.85);
}

/* =========================
   Different Overlay Colors
========================= */

.card-1::after {
    background: linear-gradient(
        to right,
        rgba(0, 180, 150, 0.65),
        rgba(0, 180, 150, 0.35)
    );
}

.card-2::after {
    background: linear-gradient(
        to right,
        rgba(170, 45, 45, 0.65),
        rgba(170, 45, 45, 0.35)
    );
}

.card-3::after {
    background: linear-gradient(
        to right,
        rgba(70, 90, 100, 0.6),
        rgba(70, 90, 100, 0.3)
    );
}

.card-4::after {
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.4)
    );
}

.card-5::after {
    background: linear-gradient(
        to right,
        rgba(65, 192, 82, 0.6),
        rgba(65, 192, 82, 0.4)
    );
}

.card-6::after {
    background: linear-gradient(
        to right,
        rgba(50, 100, 190, 0.65),
        rgba(50, 100, 190, 0.35)
    );
}
/* team-grid */
.team-header{
    margin: 0 auto;
    width: 671px;
    margin-top: 88px;
}
.team-header h2{
    font-weight: 700;
}
.team-header p{
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.team-grid{
    margin-top: 58px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 18px;
    padding: 20px;
    display: grid;
    grid-template-columns:repeat(3,1fr);
}
.team-card{
    display: grid;
    padding: 10px;
}
.team-card img{
    width: 340px;
    height: 272px;
    object-fit: cover;
    border-radius: 10px;
}
.team-info{
    margin-top: -70px;
    margin-left: 20px;
}
.team-info h3{
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
}
.team-info p{
    font-size: 0.9rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
}
.col-span-2 {
    grid-column:span 2 / span 2;
}
.card-3 , .card-6{
    display: inline;
}
.card-2 img{
    height: 294px;
     object-position: -300px -20px;
}
.card-4 img{
    height: 273px;
    object-position: -87px 19px;
}


/* Small Devices Responcive */

@media screen and (max-width:576px) {
    .nav-container{
        width: 100%;
        max-width: 90%;
    }
    .nav-container ul{
        display: none;
    }
    .nav-container i{
    display: inline;
}
.hero-container{
    width: 100%;
    max-width: 90%;
    flex-direction: column;
}
.hero-info{
    max-width: 100%;
}
.hero-info h2{
    margin-top: 50px;
    max-width: 60%;
    font-size: 2.1rem;
}
.hero-info p{
    max-width: 274px;
}
.hero-btn{
    width: 100%;
    margin-top: 30px;
    align-items: center;
}
.btn{
    font-size: 0.8rem;
}
.hero-img {
    margin-top: 50px;
    max-width: 100%;
}
.tooltip1 {
    top: 6%;
    right: 3%;
    padding: 10px 15px;
}
.tooltip1 h2 {
    font-size: 1.7rem;
}
.tooltip1 p{
    font-size: 0.7rem;
}
.tooltip2 {
    left:6%;
    top: 48%;
    padding: 8px 15px;
}
.tooltip2 h2 {
    font-size: 1.1rem;
}
.tooltip2 p{
    font-size: 0.7rem;
}
.ball {
    height: 30px;
    width: 30px;
}
.ball i {
    padding: 8px;
    width: 3px;
}

.your-habits{
    width: 100%;
    max-width: 95%;
}
.your-habits h2{
    margin-top: 460px;
    font-size: 2rem;
}
.your-habits p{
    width: 316px;
    line-height: 24px;
    font-size: 0.9rem;
}
.habits-card{
    margin: 0 auto;
    margin-top: 30px;
    max-width:338px;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
}
.card-info p{
    width: 231px;
}
.card-info{
    width: 100%;
}
.exta-mile {
    width: 90%;
    margin: 0 auto;
    flex-direction: column;
    align-content: center;
    gap: 0;
}
.exra-content{
    margin: 0 auto;
    width: 287px;
}
.exra-content h2{
    margin-top: 5px;
    font-size: 2.8rem;
}
.exra-content button{
    padding: 18px 114px;
}
.mile-img {
    margin: 0 auto;
    max-width:287px;
    max-height: 170px;
}
.mile-img>img {
    height: 250px;
    object-fit: cover;
    object-position: -71px -3px;
    border-radius: 18px;
}
.section-header {
    width: 100%;
    max-width: 90%;
}
.team-header{
    width: 100%;
    max-width: 90%;
}
.grid{
    grid-template-columns: repeat(2,1fr);
}
.training-card img{
    width: 100%;
}
.col-span-2 {
    grid-column:span 1 / span 1;
}
.card-3 , .card-6{
    display: none;
}


/* Medium Devices Responcive */

@media screen and (min-width: 576px) and (max-width: 980px) {

    .nav-container{
        width: 100%;
        max-width: 90%;
    }
    .nav-container ul{
        margin-left: 150px;
    }
.hero-container{
    flex-direction: column;
}
.hero-info{
    width: 100%;
    max-width: 90%;
}
.hero-info h2{
    margin-top: 20px;
    width: 600px;
    font-size: 4.5rem;
}
.hero-info p{
    font-size: 1.3rem;
}
.hero-btn{
    margin-top: 30px;
}
.hero-img {
    margin: 0 auto;
    margin-top:100px;
}
.hero-img img{
    margin: 0 auto;
    height: 100%;
}
.tooltip1{
    right: -47px;
    top: 6%;
}
.tooltip1 h2{
    font-size:1.8rem;
}
.tooltip1 p{
    font-size:0.9rem;
}
.tooltip2 {
    left: -64px;
    top: 60%;
}
.your-habits h2 {
    margin-top: 583px;
}
.habits-card{
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

/* Mile Section */

.exta-mile {
    margin-top: 80px;
}
.exra-content{
    margin-top: 45px;
    width: 263px;
}
.exra-content h2 {
    margin-top: 15px;
    font-size: 2.25rem;
}
.exra-content p{
    text-align: left;
    font-size: 12px;
}
.exra-content button{
    padding: 16px 71px;
}
     .mile-img {
        margin-top: 58px;
        width: 256px;
    }
    .mile-img>img {
    object-position: -487px -99px;
}
}